.NavigationBar {
    background-color: #1A6942;
    height: 10vh;
    display: flex;
    flex-direction: row;
    border-bottom: 5px solid #5B9E44;
    justify-content: end;
    align-items: end;
    min-width: 300px;
    width: 100%;
}

.TeamNameContainer{
    width: 380px;
    padding: 0;
    display: flex;
    margin: auto 2vw;
}

@font-face {
    font-family: TransRobotics;
    src: url('SFTransRobotics.ttf');
}

@font-face {
    font-family: Prototype;
    src: url('Prototype.ttf');
}

.TeamName {
    margin:0;
    width: 380px;
    font-weight: normal;
    font-family: 'TransRobotics', sans-serif;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid #5B9E44; /* The typewriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    letter-spacing: .15em; /* Adjust as needed */
    animation: typing 2.5s steps(40, end),
    blink-caret .75s step-end infinite;
    font-size: 2rem;
}

/* The typing effect */
@keyframes typing {
    from {
        width: 0
    }
    to {
        width: 380px;
    }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
    from, to {
        border-color: transparent
    }
    50% {
        border-color: #5B9E44;
    }
}

.NavigationOptions{
    width: 31vw;
    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content: center;
    cursor: default;
}

.NavigationOptions h1{
    font-family: Prototype, sans-serif;
    font-weight: lighter;
    margin: auto 1vw;
}

.NavigationOptions :visited{
    color: white;
    cursor: pointer;
}

.NavigationOptions :hover {
    color: black;
    cursor: pointer;
}


.NavigationOptions .active {
    color: black !important;
    text-decoration: underline;
    cursor: default !important;
}

.NavigationOptions a {
    text-decoration: none;
}

@media screen and (max-width: 950px) {
    .NavigationOptions {
        display: none;
    }
    .NavigationBar{
        justify-content: left;
    }
}

@media screen and (max-width: 400px) {
    .TeamName{
        font-size: 8vw;
    }
}