.NavigationBar {
    background-color: #1A6942;
    height: 10vh;
    display: flex;
    flex-direction:row;
    border-bottom: 5px solid #5B9E44;
    justify-content: space-between;
}

@font-face { font-family: TransRobotics;
    src: url('SFTransRobotics.ttf'); }

@font-face { font-family: Prototype;
    src: url('Prototype.ttf'); }

.TeamName {
    width: 40vw;
    margin: auto 2vw ;
    font-weight:normal;
    font-family: 'TransRobotics', sans-serif;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid #5B9E44; /* The typewriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    //margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation:
            typing 3.5s steps(40, end),
            blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 40vw }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #5B9E44; }
}

.NavigationOptions{
    width: 31vw;
    display: flex;
    flex-direction: row;
    margin: auto 20vw;
    justify-content: end;
}

.NavigationOptions h1{
    font-family: Prototype, sans-serif;
    font-weight: lighter;
    color: white;
    font-size: 4vh;
    margin: auto 1vw;
}
