.Footer {
    background-color: #1A6942;
    height: 20vh;
    display: flex;
    border-top: 0.7vh solid #5B9E44;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    padding: 0 1vh;
    min-width: 300px;
}

.Footer .SocialButtons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-width: 300px;
}

.Footer .SocialButtons a{
    width: fit-content;
    margin: auto 2vw;
    height: fit-content;
    justify-content: center;
    align-items: center;
}

.Footer .SocialButtons img{
    cursor: pointer;
    height: 6vh;
    width: auto;
}

.Footer .SocialButtons a .PrintablesIcon{
   height: 7vh;
}

.Footer .SocialButtons img:hover{
    -webkit-filter: drop-shadow(0px 0px 5px  #5B9E44);
    filter: drop-shadow(0px 0px 5px #5B9E44);
}

.Footer h1{
    height: 5vh;
    font-family: Prototype, sans-serif;
    font-weight: lighter;
    font-size: 2.5vh;
    margin: 0 auto;
    padding: 0;
    word-wrap: normal;
    text-align: center;
}

.Footer h1 a{
    color:black;
}

@media screen and (max-width: 480px) {
    .Footer .SocialButtons img{
        height: 5vh;
    }

    .Footer .SocialButtons a .PrintablesIcon{
        height: 6vh;
    }

    .Footer h1{
        font-size: 2vh;
    }

}