.NavigationBar {
    background-color: #1A6942;
    height: 10vh;
    display: flex;
    flex-direction:row;
}

@font-face { font-family: TransRobotics;
    src: url('SFTransRobotics.ttf'); }

.TeamName {
    width: 26vw;
    margin: 2vh 2vw ;
    font-weight:normal;
    font-family: 'TransRobotics', sans-serif;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid #5B9E44; /* The typewriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    //margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation:
            typing 3.5s steps(40, end),
            blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 26vw }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #5B9E44; }
}

.NavigationOptions{
    width: 74vw;
}
